<%= form_for(@medico) do |f| %>
  <% if @medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medico.errors.count, "error") %> prohibited this medico from being saved:</h2>

      <ul>
      <% @medico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.fields_for :pessoa do |pessoa| %>
  	<div class="field">
	    <%= pessoa.label :nome %><br />
	    <%= pessoa.text_field :nome %>
  	</div>
	<div class="field">
    	<%= pessoa.label :endereco %><br />
    	<%= pessoa.text_field :endereco %>
 	</div>
	<div class="field">
	    <%= pessoa.label :idade %><br />
	    <%= pessoa.number_field :idade %>
	</div>
  <% end %>
  

  <div class="field">
    <%= f.label :crm %><br />
    <%= f.text_field :crm %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
